.rs-tag-group{
   margin: -16px 0 0 -16px;

   & > .rs-tag{
      margin-left: 16px;
      margin-top: 16px;
   }
}

.rs-tag{
   padding: 2px 10px;
   font-size: 12px;
   text-transform: capitalize;
   //letter-spacing: .3em;
   //font-weight: 500;
   border-radius: 0;
   cursor: pointer;
   color: $darkColor;
   background-color: $borderColor;
   transition: all .3s ease-in-out;

   &.rs-tag-md .rs-tag-icon-close{
      padding: 5px 5px;
      top: 3px;
   }
}
